.container{
    position: relative;
    width: 400px;
    background-color: #111;
    padding: 20px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container .star-widget input{
    display: none;
}

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color:#fd4;
}

input:checked ~ label{
    color: #fd4;
}

input#rate-5:checked ~ label{
    color: #fe8;
    text-shadow: 0 0 20px #952;
}

input#rate-4:checked ~ label{
    color: rgb(255, 239, 65);
    text-shadow: 0 0 20px #852;
}

input#rate-3:checked ~ label{
    color: rgb(240, 220, 35);
    text-shadow: 0 0 20px #852;
}

input#rate-2:checked ~ label{
    color: rgb(215, 200, 35);
    text-shadow: 0 0 20px #852;
}

input#rate-1:checked ~ label{
    color: rgb(188, 160, 0);
    text-shadow: 0 0 20px rgb(95, 60, 20);
}


form header {
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font: 17px;
    resize: none;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #1b1b1b;
}
